<?php

$finder = PhpCsFixer\Finder::create()
    ->in([
        __DIR__ . '/src',
        __DIR__ . '/tests',
    ])
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony'                            => true,
        '@PhpCsFixer'                         => true,
        '@PHP71Migration'                     => true,
        'binary_operator_spaces'              => [
            'align_double_arrow' => true,
        ],
        'blank_line_before_return'            => false,
        'cast_spaces'                         => false,
        'concat_space'                        => [
            'spacing' => 'one',
        ],
        'ordered_class_elements'              => [
            'order' => [
                'use_trait',
                'constant_public',
                'constant_protected',
                'constant_private',
                'property_public',
                'property_protected',
                'property_private',
                'construct',
                'destruct',
                'magic',
                'method_public',
                'method_protected',
                'method_private',
            ],
        ],
        'phpdoc_add_missing_param_annotation' => true,
        'phpdoc_align'                        => false,
        'phpdoc_order'                        => true,
        'phpdoc_separation'                   => false,
        'phpdoc_summary'                      => false,
        'trim_array_spaces'                   => false,
    ])
    ->setFinder($finder)
;
